img.project {
    max-width: 250px;
    max-height: 220px;
    padding-right: 1rem;
}
.authors
ul {
  margin-left: 0rem;
}
h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.titlenolink-text{
  font-weight: bold;
  display: inline;
}
a{
  font-weight: bold;
  display: inline;
}
.event-text{
  font-style: italic;
}
.project-summary {
  font-size: smaller;
}
